{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('rijksvideo/base') }}

{# Icon function. #}
{% macro icon(name) %}
  <span class="rijksvideo__icon" aria-hidden="true">
    {{- source('@rijksvideo/images/' ~ name ~ '.svg', ignore_missing = true) -}}
  </span>
{% endmacro %}

<div class="rijksvideo">
  {# Title. #}
  {% block title %}
    <h2>{{ name }}</h2>
  {% endblock %}

  {# Video. #}
  {% block element %}
    <div class="rijksvideo__element">
      {% block video %}
        <video class="rijksvideo__video" preload="none" poster="{{ poster }}" data-video-ad="{{ audio }}">
          <source src="{{ video_source }}">

          {% if caption %}
            <track label="{{ 'Dutch'|t }}" kind="subtitles" srclang="nl" src="{{ caption }}">
          {% endif %}
        </video>
      {% endblock %}

      <button class="rijksvideo__button rijksvideo__button--primary rijksvideo__play">
        {{ _self.icon('play') }}
      </button>
    </div>
  {% endblock %}

  {# Controls and control groups. #}
  {% block controls %}
    <div class="rijksvideo__controls">
      {# Play / pause group. #}
      {% block playpause %}
        <div class="rijksvideo__controls-group">
          <button class="rijksvideo__button rijksvideo__handler rijksvideo__playpause" aria-label="{{ 'Play video'|t }}" data-play-label="{{ 'Play video'|t }}" data-pause-label="{{ 'Pause video'|t }}">
            {{ _self.icon('play') }}
            {{ _self.icon('pause') }}
          </button>
        </div>
      {% endblock %}

      {# Progress group. #}
      {% block progress %}
        <div class="rijksvideo__controls-group">
          <div class="rijksvideo__time rijksvideo__current-time" role="timer">
            00:00
          </div>
          <div tabindex="0" class="rijksvideo__slider rijksvideo__progress" role="slider" aria-valuenow="0" aria-label="{{ 'Time slider'|t }}">
            <div class="rijksvideo__slider-bar rijksvideo__progress-bar"></div>
            <div class="rijksvideo__slider-bar rijksvideo__progress-loaded"></div>
          </div>
          <div class="rijksvideo__time rijksvideo__duration">
            00:00
          </div>
        </div>
      {% endblock %}

      {# Volume group. #}
      {% block volume %}
        <div class="rijksvideo__controls-group">
          <button class="rijksvideo__button rijksvideo__handler rijksvideo__mute" aria-label="{{ 'Mute'|t }}" data-mute-on-label="{{ 'Mute'|t }}" data-mute-off-label="{{ 'Unmute'|t }}">
            {{ _self.icon('volume-up') }}
            {{ _self.icon('volume-off') }}
          </button>

          <div tabindex="0" class="rijksvideo__slider rijksvideo__volume" aria-valuenow="0" aria-label="{{ 'Volume slider'|t }}">
            <div class="rijksvideo__slider-bar rijksvideo__volume-bar"></div>
          </div>
        </div>
      {% endblock %}

      {# Settings group. #}
      {% block settings %}
        <div class="rijksvideo__controls-group">
          {% block caption %}
            {% if caption %}
              <button class="rijksvideo__button rijksvideo__handler rijksvideo__caption" data-video-caption-lang="nl" aria-label="{{ 'Subtitle on'|t }}" data-caption-on-label="{{ 'Subtitle on'|t }}" data-caption-off-label="{{ 'Subtitle off'|t }}">
                {{ _self.icon('caption-outline') }}
                {{ _self.icon('caption') }}
              </button>
            {% endif %}
          {% endblock %}

          {% block audiodescription %}
            {% if audio %}
              <button class="rijksvideo__button rijksvideo__handler rijksvideo__ad" data-video-ad-lang="nl" aria-label="{{ 'Audio description on'|t }}" data-ad-on-label="{{ 'Audio description on'|t }}" data-ad-off-label="{{ 'Audio description off'|t }}" >
                {{ _self.icon('ad-outline') }}
                {{ _self.icon('ad') }}
              </button>
            {% endif %}
          {% endblock %}

          {% block fullscreen %}
            <button class="rijksvideo__button rijksvideo__handler rijksvideo__fullscreen" aria-label="{{ 'Full screen'|t }}" data-fullscreen-enter-label="{{ 'Enter fullscreen'|t }}" data-fullscreen-exit-label="{{ 'Exit fullscreen'|t }}">
              {{ _self.icon('fullscreen') }}
              {{ _self.icon('fullscreen-exit') }}
            </button>
          {% endblock %}
        </div>
      {% endblock %}
    </div>
  {% endblock %}

  {# Info and downloads. #}
  {% block info %}
    {% if only_show_download_accordion == 0 %}
      <details class="rijksvideo__details">
        <summary>
          {{ 'Download video'|t }}
          {{ _self.icon('chevron') }}
        </summary>

        <div class="rijksvideo__details-content">
          <ul>
            {% for source in sources %}
              {% if source.url is not empty %}
                <li>
                  <a href="{{ source.url }}" download>{{ 'Download in @type format'|t({ '@type': source.type }) }}</a>
                  {{ source.type }} | {{ source.size }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </details>

      {% if audio is not empty %}
        <details class="rijksvideo__details">
          <summary>
            {{ 'Download audio description'|t }}
            {{ _self.icon('chevron') }}
          </summary>

          <div class="rijksvideo__details-content">
            <a href="{{ audio }}" download>{{ 'Download in MP3 format'|t }}</a>

            {% if audio_size is not empty %}
              MP3 | {{ audio_size }}
            {% endif %}
          </div>
        </details>
      {% endif %}

      {% if transcription is not empty %}
        <details class="rijksvideo__details">
          <summary>
            {{ 'Transcribed text'|t }}
            {{ _self.icon('chevron') }}
          </summary>

          <div class="rijksvideo__details-content">
            {{ transcription }}
          </div>
        </details>
      {% endif %}
    {% else %}
      <details class="rijksvideo__details">
        <summary>
          {{ 'Downloads'|t }}
          {{ _self.icon('chevron') }}
        </summary>

        <div class="rijksvideo__details-content">
          <h3>{{ 'Video'|t }}</h3>

          <ul>
            {% for source in sources %}
              {% if source.url is not empty %}
                <li>
                  <a href="{{ source.url }}" download>{{ 'Download in @type format'|t({ '@type': source.type }) }}</a>
                  {{ source.type }} | {{ source.size }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>

          {% if audio is not empty %}
            <h3>{{ 'Audio description'|t }}</h3>

            <ul>
              <li>
                <a href="{{ audio }}" download>{{ 'Download in @type format'|t({ '@type': 'MP3' }) }}</a>

                {% if audio_size is not empty %}
                  MP3 | {{ audio_size }}
                {% endif %}
              </li>
            </ul>
          {% endif %}

          {% if media.field_rijksvideo_trans_url.value is not empty %}
            <h3>{{ 'Transcribed text'|t }}</h3>

            <ul>
              <li>
                <a href="{{ media.field_rijksvideo_trans_url.value }}" download>{{ 'Download in @type format'|t({ '@type': 'TXT' }) }}</a>

                {% if transcription_size is not empty %}
                  TXT | {{ transcription_size }}
                {% endif %}
              </li>
            </ul>
          {% endif %}
        </div>
      </details>
    {% endif %}
  {% endblock %}
</div>
